<div style="font-family: Tahoma, Verdana, Arial;">
    <h1>Registrace na vtchkrcn.cz</h1>

    <p>Pro potvrzení registrace použij následující odkaz: <a href="{{ signedUrl }}">Potvrdit Email</a></p>

    <p>Odkaz vyprší {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</p>
</div>