{% extends 'base.html.twig' %}

{% block title %}Registrace{% endblock %}


{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <h3>Registrace</h3>

                {{ form(form) }}
            </div>
        </div>
    </div>

    {# Original form
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
    #}
{% endblock %}
