{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
<div class="container">
    {% include 'component/page/heading.html.twig' with {heading: 'Otázka'} %}

    {{ form(form) }}
</div>
{% endblock %}

