{% extends 'base.html.twig' %}

{% block body %}
    {% include 'component/page/heading-with-add-button.html.twig' with {heading: 'Otázky', path: 'question_edit'} %}

    <table class="table table-hover" aria-label="Question list">
        <thead>
            <tr>
                <th>ID</th>
                <th>Otázka</th>
                <th>Odpovědi</th>
                <th>Vytvořeno</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>
                    <a href="{{ path('question_show', {id: question.id}) }}" class="link-primary">
                        {{ question.question }}
                    </a>
                </td>
                <td>
                    {% for answer in question.answers %}
                        <a href="{{ path('question_answer', {questionId: question.id, answerId: answer.id}) }}"
                           class="{% if answer.isCorrect %}link-success{% else %}link-primary{% endif %}">
                            {{ loop.index }}. {{ answer.content }}
                        </a>
                        <br />
                    {% endfor %}
                </td>
                <td>
                    {{ question.inserted|date(constant('\\App\\Util\\DateTime\\Enum\\DateTimeFormat::CZECH_DATE_TIME_MINUTES')) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}