{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    {% include 'component/page/heading.html.twig' with {heading: 'Otázka'} %}

    <div class="question-detail mb-4">
        {% include 'component/entity/property.html.twig' with {label: 'ID', value: question.id} %}
        {% include 'component/entity/property.html.twig' with {label: 'Otázka', value: question.question} %}
        {% include 'component/entity/property.html.twig' with {label: 'Vytvořeno', value: question.inserted|date(constant('\\App\\Util\\DateTime\\Enum\\DateTimeFormat::CZECH_DATE_TIME_MINUTES'))} %}

        <div class="row mb-2">
            <div class="col text-center">
                <a href="{{ path('question_edit', {id: question.id}) }}" class="btn btn-primary btn-sm">Upravit</a>
            </div>
        </div>
    </div>

    <div class="text-center">
        <table class="table table-hover" aria-label="Question list">
            <thead><tr><th colspan="2">Odpovědi</th></tr></thead>
            <tbody>
            {% for answer in question.answers %}
                <tr>
                    <td>{{ loop.index }}.</td>
                    <td class="text-start">
                        <a href="{{ path('question_answer', {questionId: question.id, answerId: answer.id}) }}"
                           class="{% if answer.isCorrect %}link-success{% else %}link-primary{% endif %}">
                            {{ answer.content }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col text-center">
            <a href="{{ path('question_answer', {questionId: question.id}) }}" class="btn btn-primary btn-sm">Přidat odpověď</a>
        </div>
    </div>
</div>
{% endblock %}

