{% extends 'base.html.twig' %}

{% block body %}
{% include 'component/page/heading-with-add-button.html.twig' with {heading: 'Úkoly', path: 'task_edit'} %}

<div class="row">
    <div class="col">
        <table class="table table-hover" aria-label="Task list">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Název</th>
                    <th>Datum dokončení</th>
                    <th>Hotovo</th>
                </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>
                    {% if app.user %}
                        <a href="{{ path('task_edit', {id: task.id}) }}">{{ task.task }}</a>
                    {% else %}
                        {{ task.task }}
                    {% endif %}
                    </td>
                    <td>{{ task.dueDate|date(constant('\\App\\Util\\DateTime\\Enum\\DateTimeFormat::CZECH_DATE_TIME_MINUTES')) }}</td>
                    <td>{% if task.isDone %} &check; {% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}