{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    {% include 'component/page/heading.html.twig' with {heading: 'Kultura'} %}

    <div class="row mt-4 mb-4">
        <div class="col">
            <div class="alert alert-danger text-center">
                <strong>Varování:</strong> Obsah v sekci kultura je často vulgární a nevhodný pro přehrávání například v práci (NSFW)!
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <div class="text-center">
                <p>Pokud se cítíš dostatečně obohacen českou YouTube kulturou, tak můžeš přejít do sekce testů.</p>
                <div class="text-center">
                    <a href="{{ path('tests') }}" class="link-primary">Otevřít testy</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h5 class="text-center">
                Příspěvky
            {% if app.user %}
                {% include 'component/button/add-button.html.twig' with {path: 'post_edit'} %}
            {% endif %}
            </h5>

            <div class="alert alert-warning text-center">
                <strong>Upozornění:</strong> Po shlédnutí následujícího obsahu vám bude hodně.
            </div>
        </div>
    </div>

    <div class="row">
    {% for post in posts %}
        {% include 'culture/component/card.html.twig' with {post: post} %}
    {% endfor %}
    </div>

    <div class="text-center">
        <a href="{{ path('culture_paged') }}" class="btn btn-outline-primary">Všechny příspěvky</a>
    </div>

{% if app.user %}
    <div class="text-center mt-3">
        <a href="{{ path('culture_inactive') }}" class="btn btn-outline-primary">Neaktivní příspěvky</a>
    </div>
{% endif %}
</div>
{% endblock %}