{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% include 'component/page/heading.html.twig' with {heading: 'Kultura'} %}

        <div class="row">
            <div class="col">
                <h5 class="text-center">
                    Příspěvky
                    {% if app.user %}
                        {% include 'component/button/add-button.html.twig' with {path: 'post_edit'} %}
                    {% endif %}
                </h5>
            </div>
        </div>

        <div class="row">
            {% for post in pager %}
                {% include 'culture/component/card.html.twig' with {post: post} %}
            {% endfor %}
        </div>

        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
            {% if page > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('culture_paged', {page: 1}) }}" aria-label="First">
                        <span aria-hidden="true">&lt;&lt;</span>
                    </a>
                </li>
            {% endif %}

            {% set previousPage = page - 1 %}
            {% if previousPage >= 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('culture_paged', {page: previousPage}) }}">&lt;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{{ path('culture_paged', {page: previousPage}) }}">{{ previousPage }}</a>
                </li>
            {% endif %}

                <li class="page-item active">
                    <a class="page-link" href="{{ path('culture_paged', {page: page}) }}">{{ page }}</a>
                </li>

            {% set totalPages = (pager|length) / pageSize %}

            {% set nextPage = page + 1 %}
            {% if nextPage <= totalPages %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('culture_paged', {page: nextPage}) }}">{{ nextPage }}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{{ path('culture_paged', {page: nextPage}) }}">&gt;</a>
                </li>
            {% endif %}

            {% if page < totalPages %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('culture_paged', {page: totalPages}) }}" aria-label="Last">
                        <span aria-hidden="true">&gt;&gt;</span>
                    </a>
                </li>
            {% endif %}
            </ul>
        </nav>

    </div>
{% endblock %}