{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{%  block body %}
<div class="container">
    {% include 'component/page/heading.html.twig' with {heading: 'Přihlášení'} %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {{ form(form) }}
</div>
{% endblock %}