.result-answer {
    .form-check {
        display: inline-block;
        border: 1px solid rgba(0,0,0,.03);
        margin: 0 5px 10px 5px;
        border-radius: 0.2rem;
        background-color: rgba(0,0,0,.03);
        padding: 0.5em;

        input {display: none;}

        &:hover, input:hover, label:hover {cursor: pointer;}

        &.correct {background-color: #29a329;}
        &.incorrect {background-color: #cc2900;}
    }

    button[type="submit"] {
        display: none;
    }
}