{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h3>{% if post.id %}Upravit příspěvek ({{ post.id }}){% else %}Nový příspěvek{% endif %}</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            {{ form(form) }}
        </div>
    </div>
</div>
{% endblock %}