{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
<div class="container">
    {% include 'component/page/heading.html.twig' with {heading: 'Přidat otázku'} %}

    <div class="row mb-4">
        <div class="col">
            <h5 class="text-center">{{ test.name }}</h5>
        </div>
    </div>

    {{ form(form) }}
</div>
{% endblock %}