{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    {% include 'component/page/heading.html.twig' with {heading: 'Test'} %}

    <div class="test-detail mb-4">
        {% include 'component/entity/property.html.twig' with {label: 'ID', value: test.id} %}
        {% include 'component/entity/property.html.twig' with {label: 'Název', value: test.name} %}
        {% include 'component/entity/property.html.twig' with {label: 'Vytvořeno', value: test.inserted|date(constant('\\App\\Util\\DateTime\\Enum\\DateTimeFormat::CZECH_DATE_TIME_MINUTES'))} %}

        <div class="row mb-2">
            <div class="col text-center">
                <a href="{{ path('test_edit', {id: test.id}) }}" class="btn btn-primary btn-sm">Upravit</a>
            </div>
        </div>
    </div>

    <div class="text-center">
        <table class="table table-hover" aria-label="Question list">
            <thead><tr><th colspan="2">Otázky</th></tr></thead>
            <tbody>
            {% for question in test.questions %}
                <tr>
                    <td>{{ loop.index }}.</td>
                    <td class="text-start">
                        <a href="{{ path('question_show', {id: question.id}) }}" class="link-primary">
                            {{ question.question }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col text-center">
            <a href="{{ path('test_edit_question', {id: test.id}) }}" class="btn btn-primary btn-sm">Přidat otázku</a>
        </div>
    </div>
</div>
{% endblock %}

