{% extends 'base.html.twig' %}

{% block body %}

{% include 'component/page/heading-with-add-button.html.twig' with {heading: 'Testy', path: 'test_edit'} %}

{% if app.user %}
    <div class="row mb-4">
        <div class="col text-center">
            <a class="link-primary" href="{{ path('questions') }}">Otázky</a>
        </div>
    </div>
{% endif %}

<div class="row">
{% for test in tests %}
   <div class="col-sm-6 col-md-3 mb-2">
       <div class="card text-center">
           <div class="card-header">
           {% if app.user %}
               <a href="{{ path('test_show', {id: test.id}) }}" class="link-primary">
                   {{ test.name }}
               </a>
           {% else %}
               {{ test.name }}
           {% endif %}
           </div>
           <div class="card-body">
               <div class="card-text">
                   <p>Počet otázek: {{ test.questions|length }}</p>
                   <p class="text-muted">Vytvořeno: {{ test.inserted|date(constant('\\App\\Util\\DateTime\\Enum\\DateTimeFormat::CZECH_DATE_TIME_MINUTES')) }}</p>
               </div>
               <div class="d-flex flex-row justify-content-center">
                   <div class="">
                   {% if test.questions|length %}
                       <a href="{{ path('test_start', {id: test.id}) }}" class="btn btn-success btn-sm">Spustit</a>
                   {% endif %}
                   </div>
               </div>
           </div>
       </div>
   </div>
{% endfor %}
</div>
{% endblock %}