<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Vtchkrcn!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light {% block nav_class %}mb-3{% endblock nav_class %}">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('index') }}">Vtchkrcn</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="main-nav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.attributes.get( '_route' ) starts with 'culture' %}active{% endif %}"
                               href="{{ path('culture') }}">Kultura</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.attributes.get( '_route' ) starts with 'test' %}active{% endif %}"
                               href="{{ path('tests') }}">Testy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.attributes.get( '_route' ) starts with 'task' %}active{% endif %}"
                               href="{{ path('tasks') }}">Úkoly</a>
                        </li>
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.attributes.get( '_route' ) starts with 'user' %}active{% endif %}"
                               href="{{ path('users') }}">Uživatelé</a>
                        </li>
                    {% endif %}
                    </ul>

                    <div class="d-flex">
                        <ul class="navbar-nav mb-2 mb-lg-0">
                        {% if app.user %}
                            <li class="navbar-text me-3">
                                {{ app.user.email }}
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('logout') }}" class="nav-link">Odhlásit</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{{ path('registration') }}" class="nav-link ms-3">Registrovat</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('login') }}" class="nav-link">Přihlásit</a>
                            </li>
                        {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        </div>

        <div id="main-container" class="container-fluid">
            {% block body %}{% endblock %}
        </div>

        <footer class="mt-5 pb-5 pt-5 bg-light">
            <p class="text-center text-muted">©vtchkrcn</p>
        </footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <script async src="https://www.googletagmanager.com/gtag/js?id=G-HQKT6PQF9Y"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-HQKT6PQF9Y');
        </script>
    </body>
</html>
