{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <section class="">
        <h1 class="text-center">Web který existuje</h1>
    </section>
</div>
<div class="row mb-5">
    <section class="">
        <blockquote class="blockquote text-center mb-3">
            <p>Jediná zajímavá sekce je kultura</p>
            <div><a class="btn btn-primary" href="{{ path('culture') }}">Otevřít skvosty kultury</a></div>
        </blockquote>
    </section>
</div>
<div class="container">
    <div class="bg-primary bg-gradient bg-opacity-75 p-5"></div>
    <div class="bg-warning bg-gradient bg-opacity-75 p-5"></div>
</div>
{% endblock %}