{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="text-center mb-4">Výsledek testu</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Otázka</th>
                            <th>Odpovědi</th>
                            <th>Správně</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for resultAnswer in result.answers %}
                        {% set isCorrect = false %}
                        <tr>
                            <td>{{ loop.index }}.</td>
                            <td>{{ resultAnswer.question.question }}</td>
                            <td>
                            {% for answer in resultAnswer.question.answers %}
                                {% set isSelectedAnswer = (resultAnswer.answer.id == answer.id) %}
                                {% if isSelectedAnswer %}
                                    {% set isCorrect = answer.isCorrect %}
                                {% endif %}
                                <div class="mb-2
                                    {% if isSelectedAnswer %}fw-bold{% endif %}
                                    {% if answer.isCorrect %}text-success{% elseif isSelectedAnswer %}text-danger{% endif %}">
                                    {% if isSelectedAnswer %}&rarr;&nbsp;{% endif %}{{ answer.content }}
                                </div>
                            {% endfor %}
                            </td>
                            <td>{% if isCorrect %}Ano{% else %}Ne{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="text-center">
                    <a href="{{ path('tests') }}" class="btn btn-outline-primary">Pokračovat do testů</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
