{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="text-center mb-4">{{ resultAnswer.question.question }}</h3>
            <div class="result-answer text-center">
                {{ form(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    $(document).ready(function () {
        $('.result-answer [name$="[answer]"]').change(function () {
            let $this = $(this);
            let $form = $this.closest('form');
            $form.find('input[id!="' + $this.prop('id') + '"]').prop('disabled', true);
            let url = '{{ path('test_run_submit', {resultId: resultAnswer.result.id}) }}';
            let selectedAnswerId = $(this).data('answerId');
            $.post(url, {'selectedAnswerId': selectedAnswerId}, function (result) {
                result.answers.forEach(function (answer) {
                    let $answerInput = $form.find('[data-answer-id="' + answer.id + '"]');
                    if (answer.isCorrect) {
                        $answerInput.closest('.form-check').addClass('correct');
                    } else if (answer.id === selectedAnswerId) {
                        $answerInput.closest('.form-check').addClass('incorrect');
                    }
                });
                $form.find('[type="submit"]').show();
            });
        });
    });
    </script>
{% endblock %}