{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col text-center">
        <h1>Uživatelé</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-hover" aria-label="User list">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ loop.index }}.</td>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
