<div class="col-md-4 col-lg-6 mb-2">
    <div class="shadow-lg bg-body rounded mb-2">
        <div class="text-center py-3">
            <h5 class="mb-0">
            {% if app.user %}
                <a href="{{ path('post_edit', {id: post.id}) }}" class="link-primary">{{ post.name }}</a>
            {% else %}
                {{ post.name }}
            {% endif %}
            </h5>
        </div>
        <div class="youtube-container">
            <iframe src="{{ post.link }}"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>
</div>